{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    TODO

    <h3>Active Listings</h3> 
    {% for listing in listings %}
    <div>
        <h4>{{listing.product}}</h4>
        {% if listing.product_image %}
            <img src="{{listing.product_image.url}}" width="300px" height="200px">
        {% endif %}
        <h5>Price: ${{listing.price}}</h5>
        <span>Date Created: {{listing.date_created}}</span>
    </div>
    <br>
    {% endfor %}
{% endblock %}