{% extends "auctions/layout.html" %}


{% block body %}

    <h1>Auctions</h1>

    <h3>Listing: {{listing.product}}</h3>

    {% if listing.description %}
        <p>{{listing.description}}
    {% endif %}

    <h4>$ {{listing.price}}</h4>

    <span>{{bids}} bid(s) so far.</span>

    {% if newbid %}
            {% if newbid == listing.price %}
                <span>Your bid is the current bid</span>
            {% else %}
                <span>Your bid is ${{newbid | floatformat:2}}</span>
            {% endif %}
    {% endif %}

    <form action="{% url 'listings' listing.id %}" method="Post">
        {% csrf_token %}
        <input type="integer" name="bid_price">
        <input type="submit" value="Place Bid">
    </form>

    <h5>Details:</h5>
    <uL>
        <li>Listed by: {{listing.lister}}</li>
        <li>Category:</li>
    </uL>


{% endblock %}