{% extends "auctions/layout.html" %}


{% block body %}

    <h1>Auctions</h1>

    <h3>Listing: {{listing.product}}</h3>

    {% if listing.product_image %}
        <img src="{{listing.product_image.url}}"  width="500px" height="400px">

    {% elif listing.image_url %}
        <img src="{{listing.image_url}}" width="500px" height="400px">
    {% endif %}

    {% if listing.description %}
        <p>{{listing.description}}
    {% endif %}

    <h4>$ {{listing.price}}</h4>

    {% if user.is_authenticated %}
        <form action="{% url 'listings' listing.id %}" method="Post">
            {% csrf_token %}
             <input type="submit" name="action" value="Watchlist">
        </form>
        <br>
    {% endif %}

    {% if message %}
        <p>{{message}}</p>
    {% endif %}

    <span>{{bids}} bid(s) so far.</span>

    {% if newbid %}
            {% if newbid == listing.price %}
                <span>Your bid is the current bid</span>
            {% else %}
                <span>Your bid is ${{newbid | floatformat:2}}</span>
            {% endif %}
    {% endif %}

    <form action="{% url 'listings' listing.id %}" method="Post">
        {% csrf_token %}
        <input type="integer" name="bid_price">
        <input type="submit" name="action" value="Place Bid">
    </form>

    <h5>Details:</h5>
    <uL>
        <li>Listed by: {{listing.lister}}</li>
        {% if listing.category %}
            <li>Category: <a href="{% url 'category' listing.category %}">{{listing.category}}</a></li>
        {% else %}
            <li>Category: No Category Listed</li>
        {% endif %}
    </uL>


    <h5>Comments:</h5>
    
    {% if comments %}
    <div>
        {% for comment in comments %}
            <p>{{comment.commenter}} commented:</p>
            <p>{{comment.comment_text}}</p>
        {% endfor %}
    </div>
    {% endif %}
    
{% endblock %}